{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Formule : {{ formule.name }}</h1>

        <div class="show-user">
            <div class="row">
                <div class="">
                    <h3 class="display-3">{{ formule.name }}</h3>
                    <p class="mb-4">{{ formule.description }}</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in formule.services %}
                        <tr>
                                <td>{{ service.name }}</td>
                                <td>{{ service.description }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <p>
                        <a class="btn btn-success center" href="{{ path('formule.reserved') }}">Réserver</a>
                    </p>

                </div>
            </div>
        </div>

        <a href="{{ path('user_space') }}">Retour à la liste Services/Formules</a>
    </div>

{% endblock %}
